.creado {
  background-image: url("../images//create.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -5px;
  height: 150vh;
  width: 99vw;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario {
  margin: 10px;
  padding: 10px;
}

.title-form {
  margin-left: 5%;
  /* text-align: center; */
  font-family: Arial;
  font-size: 50px;
  color: #1278bf;
  text-shadow: 0px 0px 9px #508ad3;
}

.form {
  width: 50%;
  margin: 10% auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(255, 255, 255, 0.7);
}

h4 {
  padding: 0%;
  font-size: 20px;
  color: white;
  -webkit-text-stroke: 1px black;
}

input {
  height: 30px;
  margin: 10px;
}

.created button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Sans-serif;
  background: rgb(47, 177, 238);
  color: blue;
  border-radius: 50px;
  height: 40px;
  font-size: 25px;
  padding: 0 2em;
  cursor: pointer;
  outline: none;
}
.item {
  display: inline-block;
}

.dele {
  color: white;
  background-color: #008cba;
  border: 3px solid violet;
  border-radius: 5px;
}
.caja {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  color: aliceblue;
  background: rgb(97, 174, 236);
  border-radius: 30px;
}

.align {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin: 5px;
  display: inline-block;
  appearance: none;
  position: relative;
  background-color: rgb(230, 18, 53);
  border-radius: 15%;
  cursor: pointer;
  overflow: hidden;
}

.input[type="checkbox"]::after {
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.3rem;
  border-bottom: 0.31rem solid #000000;
  border-right: 0.31rem solid #000000;
  opacity: 0;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 21%;
  transition: 0.25s ease;
}

.input[type="checkbox"]::before {
  content: "";
  display: block;
  height: 0;
  width: 0;

  border-radius: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s ease;
}

.input[type="checkbox"]:checked::before {
  height: 130%;
  width: 130%;
  opacity: 100%;
}

.input[type="checkbox"]:checked::after {
  opacity: 100%;
}

@-webkit-keyframes cajafantasma {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes cajafantasma {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes cajafantasma {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cajafantasma {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.caja--animada {
  -webkit-animation: cajafantasma 5s;
  -moz-animation: cajafantasma 5s;
  -o-animation: cajafantasma 5s;
  animation: cajafantasma 5s;
}
